@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.img-thumbnail{
    border-width: 1.5px;
    height: 378px;
    width: 603px;
    left: 40px;
    top: 639px;
}

.col-7 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.col-7 p{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 15px;
}










